.card-map-top {
    height: 150px;
    width: 100%;
}

#live-map {
    height: 300px;
    width: 100%;
}

#table-content {
    height: 300px;
    font-size: 1.5rem;
}

span.label {
    width: 150px;
}