body {
    background-image: url("../icons/background.jpg");
}

body .container {
    background: white;
}

.card-map-top {
    height: 150px;
    width: 100%;
}

#live-map {
    width: 100%;
    height: 400px;
}

#live-route-map {
    width: 100%;
    height: 400px;
}

#users-main {
    min-height: 550px;
}

#table-content {
    font-size: 1.9rem;
}

#table-content .material-icons, #history-table .material-icons {
    font-size: 36px;
}

a.btn-primary.strava {
    border-color: #fc4c02;
    background-color: #fc4c02;
}

a.strava i, a.strava-segment {
    color: #fc4c02;
}
